### Using the following data, perform a oneway analysis of variance using α=.05. Write up the results in APA format.

[Group1: 51, 45, 33, 45, 67]

[Group2: 23, 43, 23, 43, 45]

[Group3: 56, 76, 74, 87, 56]

 ##### Calculating the variances of Group1
 
      value  mean   deviations    square of deviations
   
        51   48.2        2.8          7.84
    
        45   48.2       -3.2          10.24
    
        33   48.2      -15.2          231.04
    
        45   48.2       -3.2          10.24
    
        67   48.2       18.8          353.44

##### Calculating the variances of Group2

    value  mean   deviations   square of deviations
    
    23     35.4      -12.4        153.76
    
    43     35.4        7.6         57.76
    
    23     35.4      -12.4        153.76
    
    43     35.4        7.6         57.76
    
    45     35.4        9.6         92.16


 ##### Calculating the variances of Group3

    value  mean   deviations   square of deviations
    
     56    69.8      -13.8        190.44
        
     76    69.8        6.2         38.44
    
     74    69.8        4.2         17.64
        
     87    69.8       17.2        295.84
    
     56    69.8      -13.8        190.44

Sum of squared deviations from mean(SS) for each group:

Group1 = 612.8

Group2 = 515.2

Group3 = 732.8

Var(1) = 612.85−1 = 153.2 

Var(2) = 515.25−1 = 128.8

Var(3) = 732.85−1 = 183.2

MS(error) = (153.2 + 128.8 + 183.2)/3 = 155.07

##### Calculating the remaining error terms for the ANOVA table:

df(error) = 15−3 = 12

SS(error) = (155.07)(15−3) = 1860.8

##### calculating the variance of the sample means:

Grand mean = (48.2 + 35.4 + 69.8)/3 = 51.13

    group mean     grand mean   deviations    sq deviations
    
     1     48.2      51.13       -2.93          8.58
     
     2     35.4      51.13      -15.73         247.43
     
     3     69.8      51.13       18.67         348.57

Sum of squares of squared deviations(SS-means)= 8.58 + 247.43 + 348.57 = 604.58

Var(means) = (604.58) / (3−1) = 302.29

MS(between) = (302.29)(5) = 1511.45 

Calculating the remaining between terms of the ANOVA table:

df(groups) = 3−1 = 2

SS(group) = (1511.45)(3−1) = 3022.9

##### Test statistic and critical value

F = 1511.45 / 155.07 = 9.75

F(critical)(2,12) = 3.89

##### ANOVA table

       source	  SS	   df	  MS	       F

        group	 3022.9	 2     1511.45	 9.75

        error	 1860.8	 12    155.07	

        total	 4883.7

##### Effect size

η**2 = 3022.94 / 883.7 = 0.62

APA writeup

F(2, 12) = 9.75,  p <0.05,  η**2=0.62.